input {
  height: 40px;
  width: 450px;
  font-size: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}
input:last-child {
  border: none;
  margin-top: 20px;
  background-color: orange;
}
.cerate-account {
  border: 1px solid lightslategray;
  width: 500px;
  margin: 0px auto;
  margin-top: 50px;
  border-radius: 10px;
}
.login-btn {
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid orangered;
  color: orangered;
  font-size: 20px;
  cursor: pointer;
}
.google-login {
  border: none;
  background: none;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 20px;
  align-items: center;
  width: 300px;
  outline: none;
  cursor: pointer;
}
.fb-logo {
  height: 25px;
  margin-right: 20px;
  text-align: left;
  
}
.login-text {
  text-align: center;
  position: relative;
  top: -2px;
  font-size: 20px;
}
.submit-btn {
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 535px) { 
  input {
      width: 200px;
  }
  .cerate-account {
      border: 1px solid lightslategray;
      width: 400px;
      margin: 0px auto;
      margin-top: 50px;
      border-radius: 10px;
  }
}